.fixed{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background{
    z-index: 10;
}

.image{
    opacity: 0.7;
    z-index: 20;
    background-position: center center;
    background-origin: content-box;
    background-size: cover;
    background-color: #EFEFEF;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}
