.fixed{
    position: fixed;
}

.background{
    z-index: 10;
    background-color: #EFEFEF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.image{
    opacity: 0.7;
    z-index: 20;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-position: center center;
    background-origin: content-box;
    background-size:  cover;
    background-repeat: no-repeat;
    background-color: transparent;
    -webkit-transition: background-image 0.25s ease-in-out;
    -moz-transition: background-image 0.25s ease-in-out;
    -o-transition: background-image 0.25s ease-in-out;
    transition: background-image 0.25s ease-in-out;

}

.preload{
    z-index: -9999;
    background-position: 999999px 999999px;
    background-repeat: no-repeat;
}

.controls{
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    z-index: 50;

}

.controls button{
    width: 100px;
    height: 30px;
    cursor: pointer;
}